* {
    margin: 0;
    padding: 0;
}

html,
body {
    font-family: 'PT Sans', sans-serif;
    scroll-behavior: smooth;
}

.container {
    display: flex;
    height: 100vh;
}

.sidebar-container {
    display: flex;
    flex-direction: column;
    width: 300px;
    flex-shrink: 0;
    /* background: rgba(255, 0, 0, .2); */
    background-color:#003075;
}

.content-container {
    padding: 16px 32px;
    background-image: url('dashboard-32.png');
    width: 100%;
    font-size: 18px;
}

.welcome-text {
    text-align: center;
    color: white;
    font-size: 16px;
}

.welcome-name {
    font-weight: bold;
    text-align: center;
    color: white;
    font-size: 20px;
}

.content-container h1 {
    color: white;
}

.logo {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 200px;
    padding-top: 16px;
    padding-bottom: 16px;
}

.logo > img {
    width: auto;
    height: 100%;
}

.welcome-name {
    font-weight: bold;
}

.menu {
    list-style: none;
}

.menu-item {
    position: relative;
    display: flex;
    align-items: center;
    padding: 16px;
    background: rgba(0, 0, 0, 0.05);
    text-decoration: none;
    overflow: hidden;
    transition: padding-left .3s;
}

.menu-item::after {
    content: '';
    position: absolute;
    top: 0;
    right: -8px;
    width: 8px;
    height: 100%;
    background: black;
    transition: right .3s;
}

.menu-item {
    font-size: 18px;
    color: white;
}

.menu-item:hover,
.menu-item.active {
    padding-left: 24px;
    background: white;
    color: #323075;
    opacity: 90%;
}

.menu-item.active::after {
    right: 0;
    color: #323075;
}

.menu-icon {
    width: 24px;
    height: 24px;
    margin-right: 16px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.menu-icon.home {
    background-image: url('house.png');
}

.menu-icon.payment {
    background-image: url('piggy-bank.png');
}

.menu-icon.logout {
    background-image: url('logout.png');
}

.copyright-container {
    font-size: 13px;
    text-align: center;
    padding: 16px;
    margin-top: auto;
    color: gray;
}


.line-payment {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.uploadpayment {
    background-color: white;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}

.uploadpayment:hover {
    background-color: #42e8e0;
    width: 120px;
    height: 120px;
    border-radius: 100%;
}

.iconpayment {
    display: flex;
    justify-content: center;
    align-items: center;
}

#payment2 {
    color: white;
}

.content-container {
    overflow: auto;
    flex: 1;
}

.data-container {
    background: #9370DB;
    margin-bottom: 16px;
}

.data-list {
    height: 300px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

#paymentmethod {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.subpayment {
    margin-bottom: 30px;
}

#payment {
    color: #323075;
}

.method {
    background-color: white;
    padding: 35px;
    border-radius: 25px;
    margin-bottom: 35px;
}

#hyperlink {
    color: #FF2CC4;
}

#verified {
    background-color: #42e8e0;
    width: auto;
    color: #323075;
    border-radius: 30px;
    padding: 10px;
    padding-left: 30px;
    margin-bottom: 7px;
}

#infopayment {
    background-color: white;
    border-radius: 30px;
    padding: 30px;
    margin-bottom: 20px;
}

#verified {
    background-color: #42e8e0;
    width: auto;
    color: #323075;
    border-radius: 30px;
    padding: 10px;
    padding-left: 30px;
    margin-bottom: 7px;
}

#notverified {
    background-color: #FF2CC4;
    width: auto;
    color: white;
    border-radius: 30px;
    padding: 10px;
    padding-left: 30px;
    margin-bottom: 7px;
}

.timeline-dashboard {
    color: white;
    font-size: 15px;
    border: 1px solid pink;
    border-radius: 20px;
    margin-left : 20px;
    margin-right: 20px;
    margin-top: 70px;
    padding: 20px;
}

.timeline-dashboard h4 {
    text-align: center;
}

.timeline-dashboard h3 {
    text-align: center;
}